.button {
	background: #a17d98;
	border: none;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: $font-size-large;
	font-weight: 300;
	line-height: 1;
	padding: $s-size;
	text-decoration: none;
	@media (max-width: $desktop-breakpoint) {
		font-size: 1.5rem;
	}
}

.button--link {
	background: none;
	color: #a17d98;
	margin-bottom: 0;
	margin-left: 3px;
	padding-left: 0;
	@media (max-width: $desktop-breakpoint) {
		margin: 0 0 0 2px;
	}
}

.button--secondary {
	background: $red;
}

.button--random-word {
	background: #f2ccb1; 
	border: none;
	color: $red;
}

.button--submit {
	margin: 0 20px 0 22px;
	@media (max-width: $desktop-breakpoint) {
		margin: 1px 7px 0 10px;
		padding: 1rem;
	}
}

button, select {
	color: #587850;
}

.test {
	color: $red; 
	float: right;
	font-size: $font-size-large;
	margin-right: 1.5rem;
	padding-top: 10px;
	text-decoration: none;
	@media (max-width: $desktop-breakpoint) {
		font-size: $font-size-small;
		padding-top: 13px;
	}
}

.pick-word-reset-button-area {
	display: flex;
	justify-content: space-between;
}

.button--reset {
	background: $red;
	margin-right: 3.5rem;
}

