.button {
	background: $grey;
	border: none;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: $font-size-large;
	font-weight: 300;
	line-height: 1;
	padding: $s-size;
	text-decoration: none;
	@media (max-width: $desktop-breakpoint) {
		margin-left: 10px;
	}
}

.button--link {
	background: none;
	margin-left: 0;
	padding-left: 0;
}

.button--secondary {
	background: #78b0a0;
}

.button__random-word {
	background: #616161;
}

button, select {
	color: #587850;
}

.test {
	color: #ff8a5c;
	//color: #587850;
	display: flex;
	font-size: $font-size-large;
	margin-left: 10px;
	padding-top: 10px;
	text-decoration: none;
}

