@media (min-width: $desktop-breakpoint) {
	.content-container {
		margin: 0 auto;
		max-width: 80rem;
		padding: 0.5rem 0 $s-size 0;
	}
}

@media (max-width: $desktop-breakpoint) {
	.picked-word {
		margin-left: 10px;
	}
}

