.header__content {
	margin-left: 10px;
}

/*.header {
  //background: $grey;
  //background: #78b0a0;
}*/

.header__title {
	color: #ea907a;
	text-decoration: none;
	h1 {
		margin: 0;
		padding-top: 7px;
	}
}

@media (min-width: $desktop-breakpoint) {
	.header__content {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 0;
	}
	.header__title {
		color: #ea907a;
		text-decoration: none;
		h1 {
			font-size: 4rem;
			margin: 0 0 0.7rem -1.5rem;
		}
	}
}

