@media (max-width: $desktop-breakpoint) {
	.input-group {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}
}

@media (min-width: $desktop-breakpoint) {
	.input-group {
		flex-direction: row;
		margin-bottom: $l-size;
		margin-top: $l-size;
	}
}

.input-group__item {
	margin-top: $m-size;
	@media (min-width: $desktop-breakpoint) {
		margin: 0 $s-size 0 0;
		display: flex;
		flex-direction: column;
	}
}

