.text-input {
	border: 1px solid #cacccd;
	font-size: 1.6rem;
	font-weight: 300;
	height: 41px;
	padding: $s-size;
	@media (max-width: $desktop-breakpoint) {
		font-size: $font-size-small;
	}
}

.select {
	@extend .text-input;
}

.textarea {
	@extend .text-input;
	height: 5rem;	
	@media (max-width: $desktop-breakpoint) {
		height: 55px;
	}
}

.answer-group {
	display: flex;
}

.fa-check-circle {
	color: #a62d88;
}

.fa-times-circle {
	color:  #d14d2e;
}

/*.feedback-image {
	display: none;
	float: right;
	height: 25rem;
	width: 20rem;
}*/






	

