.middle-section {
	background: white;
	border-top: 1px solid #f2ccb1;
	padding: $l-size;
	margin-bottom: $l-size;
	@media (max-width: $desktop-breakpoint) {
		margin: 0 0 $s-size 0;
		padding: $s-size 0;
	}
}

.middle-section__actions {
	margin-top: $m-size;
	margin-bottom: $m-size;
}

.middle-section__title {
	color: $grey;
	font-weight: 300;
	margin: 0;
	span {
		font-weight: 700;
	}
	@media (max-width: $desktop-breakpoint) {
		font-size: $m-size;
	}
}


