.page-header {
	background: #fbc687;// #393e46;   
	background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");

	padding: $l-size 0;
	margin-bottom: $l-size;
	@media (max-width: $desktop-breakpoint) {
		padding: 1rem;
	}
}

.page-header__actions {
	margin-top: $m-size;
	@media (max-width: $desktop-breakpoint) {
		margin: 2.5rem 0;
	}
}

.page-header__title {
	color: #eee;
	font-weight: 300;
	margin: 0 0 0 5px;
	span {
		font-weight: 700;
	}
	@media (max-width: $desktop-breakpoint) {
		font-size: $m-size;
	}
}


