.page-header {
	background: ivory;
	border-top: 1px solid #f2ccb1;

	padding: $l-size 0;
	margin-bottom: $l-size;
	@media (max-width: $desktop-breakpoint) {
		padding: 1rem;
		margin-bottom: 0;
	}
}

.page-header__actions {
	margin-top: $m-size;
	@media (max-width: $desktop-breakpoint) {
		margin: 0.5rem 0;
	}
}

.page-header__title {
	color: $grey;
	font-weight: 300;
	margin: 0 0 0 5px;
	span {
		font-weight: 700;
	}
	@media (max-width: $desktop-breakpoint) {
		font-size: $m-size;
	}
}


