.page-header {
	background: #badfdb;
	background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
	padding: $l-size 0;
	margin-bottom: $l-size;
	@media (max-width: $desktop-breakpoint) {
		padding: 1rem;
	}
}

.page-header__actions {
	margin-top: $m-size;
	@media (max-width: $desktop-breakpoint) {
		margin-top: 0;
	}
}

.page-header__title {
	font-weight: 300;
	margin: 0 0 0 5px;
	span {
		font-weight: 700;
	}
}


