.top-group {
  display: flex;
  justify-content: space-between;
}

.top-group__title {
  color: $grey;
	font-weight: 300;
	margin: 0;
	span {
		font-weight: 700;
	}
	@media (max-width: $desktop-breakpoint) {
		font-size: $m-size;
	}
}

.feedback-image {
  //display: none;
  height: 20rem;
  margin-left: 5rem;
  position: absolute;
  top: 19%;
  right: 34%;
	width: 15rem;
}

@media (max-width: $desktop-breakpoint) {
  i.fa-check-circle, i.fa-times-circle {
    font-size: 3.5rem;
  }
  .feedback-image {
    //display: none;
    height: 10rem;
    position: absolute;
    top: 20%;
    right: 10%;
    width: 7rem;
  }
}

.score {
  display: flex;
  justify-content: space-between;
  padding-right: 0.6rem;
}

.score-result {
  margin-right: $s-size;
}

.right-answer, .wrong-answer {
  background: white;
  border: 1px solid #cacccd;
  border-radius: 2px;
  text-align: center;
}




