.top-group {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.top-group__title {
  color: $grey;
	font-weight: 300;
	margin: 0;
	span {
		font-weight: 700;
	}
	@media (max-width: $desktop-breakpoint) {
		font-size: $m-size;
	}
}

.picked-word {
  border-radius: 2px;
  background: white;
  padding-left: 5px;
}

.feedback-image {
  height: 20rem;
  margin-left: 5rem;
  position: absolute;
  top: 25%;
  right: 34%;
	width: 15rem;
}

@media (max-width: $desktop-breakpoint) {
  i.fa-check-circle, i.fa-times-circle {
    font-size: 3.5rem;
  }
  .feedback-image {
    height: 10rem;
    position: absolute;
    top: 19%;
    right: 10%;
    width: 7rem;
  }
}

.score {
  padding-right: 2.5rem;
}

.right-answer {
  color: #a17d98;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 5px 10px 0;
  text-align: center;
  @media (max-width: $desktop-breakpoint) {
		font-size: $l-size;
	}
}

.score-icon {
  padding-left: 1.5rem;
}

.fa-check-circle {
  margin-right: 0.5rem;
}




